/* Base Application Styles */

body {
  font-family: 'Open Sans', sans-serif;
  color: white;
  background-color: #15AB5A;
}

.madlib-line {
  display: block;
  height: 20px;
}

.madlib-line.last-of-chunk + .madlib-line {
  display: inline-block;
}

.user-submitted-value {
  text-decoration: underline;
}