/* Base Application Styles */

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 30px;
  color: white;
  background-color: #15AB5A;
}

button{
  font-size: 14px;
}

fieldset { border: none; }

.madlib-form {
  margin: auto;
  text-align: center;
}
.madlib-form input {
  background-color: transparent;
  border: none;
  border-bottom: 3px solid white;
  box-sizing: border-box;
  font-size: 30px;
  color: white;
  height: 40px;
  left: 1%;
  padding: 5px 0px;
  position: relative;
  top: 50%;
  width: 175px;
}

.madlib-form input:focus {
  outline: none !important;
}

.madlib-line {
  display: block;
  height: 30px;
}

.madlib-line.last-of-chunk + .madlib-line {
  display: inline-block;
}

.submitted-madlib{
 height: 80%;
}

.user-submitted-value {
  text-decoration: underline;
}